page-main {
    .headSlider{
        height: 40vh;
        border-radius: 0 !important
    }
    :host{
        input,.searchbar-input.sc-ion-searchbar-md{
            border-radius: 22px !important;
        }
    }
    .searchbar-input-container.sc-ion-searchbar-md{
        border-radius: 22px !important;
        overflow: hidden !important;
    }
    ion-searchbar{
        background: none !important;
        border-radius: 22px;
        overflow: hidden;
        padding: 0;
        margin: 5px auto;
    }
    .searchbar-input {
        background-color: rgb(214, 237, 235) !important;
        height: 4rem !important;
    }
    ion-item-divider{
        .input-wrapper{
            & > {
                .label{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 0
                }
            }
        }
    }
    .cardInnerWrap{
        position: relative;
        .details{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background: rgba(0, 0, 0, 0.5882352941176471);
            color: #fff;
            padding: 10px 0;
        }
    }
    .ad{
        height: 100px;
        width: 100%;
        text-align: center;
        img{
            width: 95%;
            height: 100%;
        }
    }
    .details{
        font-size: 16px;
    }
    
    .swiper-wrapper{
        left: 0;
    }
    ks-swiper-slide{
        width:50% !important;
        padding: 0 10px;
    }
    .slide-container img{
        height: 250px;
        width: 100%;
        max-height: 250px;
    }
    ion-card img {
        height: 150px
    }
    h2 {
        margin: 0 auto;
    }
}
