<ion-header>
  <ion-navbar hideBackButton color="primary1">
    <ion-title>{{ catergory_name | translate }}</ion-title>
    <!-- <ion-buttons end (click)="PageSearch()">
      <button ion-button icon-only color="secondary">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons> -->
    <button ion-button menuToggle color="secondary">
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>



<ion-content dir="{{'dir_lang' | translate}}">
  <div>
    <ion-searchbar 
      placeholder="{{'search' | translate}}"
      (ionInput)="getItems($event)">
    </ion-searchbar>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col col-6 *ngFor="let book of books ; let i = index">
        <ion-row class="book-top">
          <ion-col col-6>
            <button ion-button clear>
              <span>{{book.price}} {{book.currency}}</span>
            </button>
          </ion-col>
          <ion-col col-6>
            <button ion-button clear (click)="Add_Card(book.p_id)">
              <ion-icon name="cart"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
        <ion-card  (click)="PageBookInfo(book)">
          <img src="{{image_url}}{{ book.image_name }}"/>
        </ion-card>
        <p>{{book.product_name}}</p>
      </ion-col>
    </ion-row>
    <h2 text-center *ngIf="books?.length < 1 && isSearch">
      {{ 'not_available' | translate }}
    </h2>
  </ion-grid>

  <!-- <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="HideLoadIcon">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
</ion-content>
