page-forget-password {
    .logo-login{
        width: 40%;
        height: 40%;
    }
    .card-header-md{
        justify-content: center
    }
    .background{
        background-image: url('../assets/icon/icon2') no-repeat center center;
        background-size: cover;
    }
    // ion-card-header{
    //     display: flex;
    // }
    .scroll-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 0 !important;
    }
    
    ion-card.card {
        box-shadow: none;
        background: #fff;
        border-radius: 5px;
        transition: opacity 600ms, visibility 600ms;
    }
    
    a, p,
    ion-card-header.card-header {
        color: #838383 !important;
    }
    
    .list > .item-block:first-child {
    }
    
    .item {
        margin-bottom: 10px;
        border-bottom: 1px solid #ccc; 
        ion-icon{
            color: #838383;
            font-size: 20px;
            display: flex;
            align-items: center;
            margin: 0 !important
        }
        .text-input{
            color: #333;
        }
    
        input::-moz-placeholder  {
            color: #999!important;
        }
    
        input:-moz-placeholder {
            color: #999!important;
        }
    
        *::-webkit-input-placeholder  {
            color: #999!important;
        }
    
        *:-ms-input-placeholder  {
            color: #999!important;
        }
    
        *:-moz-placeholder  {
            color: #999!important;
        }
    }
    
    .bottom {
        color:#fff
    }
    [color="facebook"]{
        background: #3b5998
    }
    [color="gmail"]{
        background: #dc4c41
    }
    input,
    input:focus
    {
        outline: none !important;
        border: none !important
    }
    .item-md.item-input.item-input-has-focus .item-inner, .item-md.item-input.input-has-focus .item-inner{
        border: none;
        box-shadow: none
    }
    .item-md ion-icon[item-start] + .item-inner{
        margin-left: 0;
    }
    .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
    .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner
    {
        border: none;
        box-shadow: none
    }
    .forgotPass{
        font-size: 13px;
    }
}
